@use '../abstracts/variables' as *;

.card {
  display: grid;

  h2 {
    font-size: 2.8rem;
    letter-spacing: -0.2px;
    opacity: 0.75;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-bottom: 5.9rem;
    opacity: 0.75;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  img {
    object-fit: cover;
    min-height: 60rem;
  }

  &__thumb,
  &__content {
    grid-area: 1/-1;
  }
}

.graphic-design-message {
  h2 {
    color: $dark-desaturated-cyan;
  }
  p {
    color: $dark-desaturated-cyan;
  }
}

.photography-message {
  h2 {
    color: $services-blue;
  }
  p {
    color: $services-blue;
  }
}
