@use '../abstracts/variables' as *;

.navigation {
  a {
    text-decoration: none;
  }

  .contact-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $btnColor;
    color: $very-dark-blue;
    border-radius: 2.8rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 4.4rem;
    width: 14rem;
    height: 5.6rem;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-Fraunces;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.011rem;
    transition: 220ms all ease-in-out;

    &:hover,
    &:active {
      background-color: #3ebfff;
      color: $white;
    }

    &:focus {
      outline-style: solid;
      outline-color: transparent;
      box-shadow: 0 0 0 2px darken($btnHover, 20%);
    }
  }
}
