@use '../abstracts/variables' as *;

.site-head {
  height: 53rem;
  position: relative;
  background-image: url('/assets/mobile/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

  h1 {
    font-family: $font-Fraunces;
    font-weight: 900;
    font-size: 3.9rem;
    line-height: 4.932rem;
    letter-spacing: 0.625rem;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 5.2rem;
  }

  .arrow {
    margin: 0 auto;
  }
}
