@use '../abstracts/variables' as *;

.testimonials {
  display: flex;
  flex-direction: column;

  h3 {
    font-family: $font-Fraunces;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 1.973rem;
    letter-spacing: 0.4rem;
    color: $grayish-blue;
    text-transform: uppercase;
    margin-bottom: 6.4rem;
  }

  &-card:not(:last-of-type) {
    margin-bottom: 6.4rem;
  }
  &-card:last-of-type {
    margin-bottom: 8.6rem;
  }

  &-card,
  blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 7.2rem;
      border-radius: 50%;
      margin-bottom: 3.2rem;
    }

    p {
      line-height: 3.2rem;
      letter-spacing: -0.13px;
      color: $very-dark-grayish-blue;
    }
  }

  &-name {
    display: block;
    font-family: $font-Fraunces;
    font-weight: 900;
    line-height: 2.219rem;
    letter-spacing: -0.13px;
    color: $very-dark-blue;
  }

  &-job-title {
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: -0.1px;
    color: $grayish-blue;
  }
}
