@mixin wrapper {
  max-width: 28rem;
  width: clamp(10rem, 80%, 28rem);
  margin-left: auto;
  margin-right: auto;
}

// Padding
@mixin padding-standard {
  padding-top: clamp(4rem, 25%, 9.9rem);
  padding-right: clamp(1.5rem, 1.4rem + 0.4vw, 10.3rem);
  padding-bottom: clamp(4rem, 25%, 9.9rem);
  padding-left: clamp(1.5rem, 1.4rem + 0.4vw, 10.3rem);
}

// Margins
@mixin flow-minimum {
  margin-bottom: clamp(1.5rem, 1.6rem + 0.5vh, 2.1rem);
}

@mixin flow-sm {
  margin-bottom: clamp(2.8rem, 3rem + 2vh, 3.6rem);
}

@mixin flow-bg {
  margin-bottom: clamp(4rem, 3.8rem + 2vh, 5rem);
}

@mixin flow-md {
  margin-bottom: clamp(2rem, 20%, 2.5rem);
}

// Contrast MS Windows

@mixin ms-high-contrast {
  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

// Media queries
@mixin responsive($breakpoint) {
  @if $breakpoint == medium {
    @media (min-width: 30em) {
      @content;
    }
  }
}
