@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

// LINKS
.about a {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;

  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    border-radius: 28px;
    z-index: -1;
  }
}

.transform a::before {
  background-color: $color-link-underline-yellow;
}

.transform a:hover::before {
  background-color: $color-yellow;
}

.standout a::before {
  background-color: $color-link-underline-red;
}

.standout a:hover::before {
  background-color: $color-link-underline-red-hover;
}

// Margins and centering
.promo-text {
  @include wrapper;
  @include padding-standard;

  text-align: center;

  h2 {
    @include flow-minimum;
  }

  p {
    @include flow-md;
  }
}

.transform {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    align-content: stretch;
  }
  .promo-text {
    @include responsive(tablet) {
      padding: 0;
      place-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
  &-feature {
    grid-column: 2/3;

    img {
      @include stretchAndFit;
    }
  }
}

.standout {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    align-content: stretch;
  }
  .promo-text {
    @include responsive(tablet) {
      padding: 0;
      place-self: center;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
  &-feature {
    @include responsive(tablet) {
      grid-column: 1/2;

      img {
        @include stretchAndFit;
      }
    }
  }
}

.services {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    // align-content: stretch;
  }

  .graphic-design {
    @include responsive(tablet) {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    img {
      @include responsive(tablet) {
        @include stretchAndFit;
      }
    }
  }

  .photography {
    @include responsive(tablet) {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    img {
      @include responsive(tablet) {
        @include stretchAndFit;
      }
    }
  }
}
