@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

.services {
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .card {
    display: grid;
    text-align: center;

    &__thumb,
    &__content {
      grid-area: 1/-1;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: clamp(35rem, 35rem + 2vh, 37.5rem);

      @include responsive(tablet) {
        @include stretchAndFit;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 3.7rem;
      padding-left: 2em;
      padding-right: 2em;
      @include wrapper;

      h2 {
        font-size: 1.75rem;
        letter-spacing: -0.2px;
        font-family: $fraunces;
        font-weight: 900;
        margin-bottom: 1.7rem;
      }

      @include responsive(medium) {
        padding-bottom: 3rem;
        padding-left: 0;
        padding-right: 0;
      }

      @include responsive(tablet) {
        padding-bottom: 1.7rem;
        padding-bottom: clamp(1.5rem, 1.5rem + 2vh, 3.7rem);
        padding-left: 2.5em;
        padding-right: 2.5em;
      }
    }
  }

  .graphic-design {
    @include responsive(tablet) {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &-message p,
    &-message h2 {
      color: $color-tertiary-dark;
    }
  }

  .photography {
    @include responsive(tablet) {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &-message h2 {
      color: $color-tertiary-semidark;
    }
  }
}
