@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

// HEADER
.site-head {
  height: clamp(33rem, 60vh, 50rem);
  background-image: url('/assets/mobile/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  // Swap the background img on wider viewports
  // @include responsiveNavigation {
  //   background-image: url('/assets/desktop/image-header.jpg');
  // }

  .navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: clamp(1.4rem, 1.6rem + 1vw, 2.8rem);
    margin-bottom: clamp(3rem, 3rem + 1vh, 6.3rem);
    margin-left: clamp(1.4rem, 1.6rem + 1vw, 2.8rem);
    padding-top: clamp(2rem, 2rem + 0.4vh, 2.1rem);

    .site-head-brand {
      flex-basis: 40%;
    }
  }

  // HEADING
  h1 {
    margin-bottom: clamp(2.8rem, 2rem + 1vh, 6.3rem);
    font-family: $fraunces;
    font-weight: 900;
    font-size: clamp(2.5rem, 2.07rem + 3vw, 3.5rem);
    color: $color-primary-light;
    text-transform: uppercase;

    @include responsive(medium) {
      padding-left: clamp(1.4rem, 1.6rem + 1vw, 2.8rem);
      padding-right: clamp(1.4rem, 1.6rem + 1vw, 2.8rem);
    }
  }

  .arrow {
    margin-left: auto;
    margin-right: auto;
  }
}
