@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

.testimonials {
  margin-top: clamp(3rem, 4rem + 2vh, 10rem);
  @include responsive(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    max-width: 90rem;
    @include centreElement;
  }

  h3 {
    font-family: $fraunces;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $color-testimonials-heading;
    @include centreElement;
    @include flow-bg;

    @include responsive(tablet) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  figure:first-of-type {
    @include responsive(tablet) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
  figure:nth-of-type(2) {
    @include responsive(tablet) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
  figure:last-of-type {
    @include responsive(tablet) {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }

  &-card {
    @include wrapper;
    @include flow-bg;

    & blockquote,
    & figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    & img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      @include flow-minimum;
    }

    & p {
      color: $color-testimonials-text;
      @include flow-minimum;
      @include responsive(tablet) {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  &-name {
    font-family: $fraunces;
    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: -0.13px;
    margin-bottom: 0.6rem;
  }

  &-job-title {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.7;
    letter-spacing: -0.1px;
    color: $color-testimonials-heading;
  }
}
