$soft-red: hsl(7, 99%, 70%);
$dark-desaturated-cyan: hsl(166, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$footer-bg: hsla(168, 44%, 70%, 1);

$very-dark-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(233, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$btnColor: hsl(51, 100%, 49%);
$btnHover: hsl(200, 100%, 62%);
$services-blue: hsla(197, 86%, 12%);
$footer-logo: hsla(168, 46%, 31%, 1);

$font-Barlow: 'Barlow', sans-serif;
$font-Fraunces: 'Fraunces', serif;

$default-font-size: 1.8rem;

$minColWidth: 37.5rem;

// Sets :focus styles globally by modifying how the outline looks. This means that any element that can receive focus, such as <a> and <button> will have a consistent focus style. The outline-offset pulls the outline away from the content a bit.
:focus {
  outline: 1px dotted currentColor;
  outline-offset: 0.2rem;
}
