@use '../abstracts/variables' as *;

h2 {
  font-family: $font-Fraunces;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.946rem;
  letter-spacing: -0.023rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

p {
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.013rem;
  text-align: center;
  color: $dark-grayish-blue;
  margin-bottom: 3.2rem;
}

.wrapper {
  width: 90vw;
  width: clamp(32.7rem, 90vw, 135.2rem);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3.2rem;
}

.wrapper:not(:first-of-type) {
  margin-top: 6.4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.8rem, 1fr));
}
