@use '../abstracts/variables' as *;

h2 {
  font-family: $font-Fraunces;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.946rem;
  letter-spacing: -0.023rem;
  margin-bottom: 2.5rem;
}

p {
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.013rem;
  color: $dark-grayish-blue;
  margin-bottom: 3.2rem;
}

.wrapper {
  width: 90vw;
  width: clamp(32.7rem, 90vw, 135.2rem);
  margin-left: auto;
  margin-right: auto;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3.2rem;
}

.wrapper:not(:first-of-type) {
  margin-top: 6.4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

.transform-message,
.standout-message {
  margin-bottom: 6.4rem;
}

#main-content {
  display: grid;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
